<!-- tinyhouses/index.html.erb -->
<div class="index-flex">
  <div class="index-cards">

  <%= render partial: '/shared/tinyhouse-card', locals: { tinyhouses: @tinyhouses } %>
  </div>

  <div class="map" id="map"
       style="width: 100%;"
       data-markers="<%= @markers.to_json %>"
       data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">

    <%= render partial: '/shared/search_bar' %>
  </div>
  <div class="mobile-cards">
    <%= render partial: '/shared/tinyhouse-card', locals: { tinyhouses: @tinyhouses } %>
  </div>
</div>
