<div class="container">
  <div class="form-img" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url(<%= cl_image_path("http://res.cloudinary.com/fenagel/image/upload/v1598452178/bbv3ulfj1pjz9rzv4zd0.png", crop: 'fill') %>)">
  </div>
  <div class="form-field">
    <%= simple_form_for @tinyhouse do |f| %>
      <%= f.input :title, label: 'Title for your listing', error: 'Titles are mandatory, please specify one' %>
      <%= f.input :location, label: 'Address (in the following format: street name, city)' %>
      <%= f.input :description, as: :text %>


      <%= f.input :amenities, collection: Tinyhouse::AMENITIES, as: :check_boxes %>


      <%= f.button :button, "Create Your Listing", class: "primary-button" %>
    <% end %>
  </div>
</div>
